# Biblioteki Node.js (ważą setki MB, nie wysyłamy ich)
node_modules/

# Lokalna baza danych (chcemy, żeby każdy serwer miał swoją własną)
*.db
*.db-journal

# Pliki konfiguracyjne WebStorm / IDE
.idea/
.vscode/

# Logi błędów
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pliki systemowe
.DS_Store
thumbs.db